root=true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size=4
indent_style=space
tab_width=4

# New line preferences
insert_final_newline=false

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups=false
dotnet_sort_system_directives_first=true

# this. and Me. preferences
dotnet_style_qualification_for_event=true:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=true:suggestion
dotnet_style_qualification_for_property=true:suggestion

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members=false:suggestion
dotnet_style_predefined_type_for_member_access=false:suggestion

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:suggestion

# Modifier preferences
dotnet_style_require_accessibility_modifiers=for_non_interface_members:warning

# Expression-level preferences
dotnet_style_coalesce_expression=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:suggestion
dotnet_style_null_propagation=true:suggestion
dotnet_style_object_initializer=true:suggestion
dotnet_style_operator_placement_when_wrapping=beginning_of_line
dotnet_style_prefer_auto_properties=true:silent
dotnet_style_prefer_compound_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment=false:silent
dotnet_style_prefer_conditional_expression_over_return=false:silent
dotnet_style_prefer_inferred_anonymous_type_member_names=false:suggestion
dotnet_style_prefer_inferred_tuple_names=true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion
dotnet_style_prefer_simplified_boolean_expressions=true:suggestion
dotnet_style_prefer_simplified_interpolation=true:suggestion

# Field preferences
dotnet_style_readonly_field=true:suggestion

# Parameter preferences
dotnet_code_quality_unused_parameters=all:suggestion

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere=false:silent
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:silent

# Expression-bodied members
csharp_style_expression_bodied_accessors=true:silent
csharp_style_expression_bodied_constructors=false:suggestion
csharp_style_expression_bodied_indexers=true:silent
csharp_style_expression_bodied_lambdas=when_on_single_line:silent
csharp_style_expression_bodied_local_functions=false:suggestion
csharp_style_expression_bodied_methods=false:suggestion
csharp_style_expression_bodied_operators=false:suggestion
csharp_style_expression_bodied_properties=true:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion
csharp_style_prefer_switch_expression=true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call=true:suggestion

# Modifier preferences
csharp_prefer_static_local_function=true:suggestion
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion

# Code-block preferences
csharp_prefer_braces=when_multiline:silent
csharp_prefer_simple_using_statement=false:suggestion

# Expression-level preferences
csharp_prefer_simple_default_expression=true:suggestion
csharp_style_deconstructed_variable_declaration=false:suggestion
csharp_style_inlined_variable_declaration=true:suggestion
csharp_style_pattern_local_over_anonymous_function=true:suggestion
csharp_style_prefer_index_operator=true:suggestion
csharp_style_prefer_range_operator=true:suggestion
csharp_style_throw_expression=false:suggestion
csharp_style_unused_value_assignment_preference=discard_variable:silent
csharp_style_unused_value_expression_statement_preference=discard_variable:silent

# 'using' directive preferences

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=accessors,control_blocks,events,indexers,local_functions,methods,properties,types
csharp_new_line_between_query_expression_clauses=true

# Indentation preferences
csharp_indent_block_contents=true
csharp_indent_braces=false
csharp_indent_case_contents=true
csharp_indent_case_contents_when_block=false
csharp_indent_labels=one_less_than_current
csharp_indent_switch_labels=true

# Space preferences
csharp_space_after_cast=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=expressions
csharp_space_between_square_brackets=false

# Wrapping preferences
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=false

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity=suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols=interface
dotnet_naming_rule.interface_should_be_begins_with_i.style=begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity=suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols=types
dotnet_naming_rule.types_should_be_pascal_case.style=pascal_case

dotnet_naming_rule.private_method_should_be_begins_with__.severity=suggestion
dotnet_naming_rule.private_method_should_be_begins_with__.symbols=private_method
dotnet_naming_rule.private_method_should_be_begins_with__.style=begins_with__

dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_s.severity=suggestion
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_s.symbols=private_or_internal_static_field
dotnet_naming_rule.private_or_internal_static_field_should_be_begins_with_s.style=begins_with_s

dotnet_naming_rule.private_or_internal_field_should_be_begins_with_m.severity=suggestion
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_m.symbols=private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_begins_with_m.style=begins_with_m

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity=suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols=non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style=pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds=interface
dotnet_naming_symbols.interface.applicable_accessibilities=public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers=

dotnet_naming_symbols.private_method.applicable_kinds=method
dotnet_naming_symbols.private_method.applicable_accessibilities=private
dotnet_naming_symbols.private_method.required_modifiers=

dotnet_naming_symbols.private_or_internal_field.applicable_kinds=field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities=internal, private, private_protected
dotnet_naming_symbols.private_or_internal_field.required_modifiers=

dotnet_naming_symbols.private_or_internal_static_field.applicable_kinds=field
dotnet_naming_symbols.private_or_internal_static_field.applicable_accessibilities=internal, private, private_protected
dotnet_naming_symbols.private_or_internal_static_field.required_modifiers=static

dotnet_naming_symbols.types.applicable_kinds=class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities=public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers=

dotnet_naming_symbols.non_field_members.applicable_kinds=property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities=public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers=

# Naming styles

dotnet_naming_style.pascal_case.required_prefix=
dotnet_naming_style.pascal_case.required_suffix=
dotnet_naming_style.pascal_case.word_separator=
dotnet_naming_style.pascal_case.capitalization=pascal_case

dotnet_naming_style.begins_with_i.required_prefix=I
dotnet_naming_style.begins_with_i.required_suffix=
dotnet_naming_style.begins_with_i.word_separator=
dotnet_naming_style.begins_with_i.capitalization=pascal_case

dotnet_naming_style.begins_with__.required_prefix=_
dotnet_naming_style.begins_with__.required_suffix=
dotnet_naming_style.begins_with__.word_separator=
dotnet_naming_style.begins_with__.capitalization=pascal_case

dotnet_naming_style.begins_with_m.required_prefix=m
dotnet_naming_style.begins_with_m.required_suffix=
dotnet_naming_style.begins_with_m.word_separator=
dotnet_naming_style.begins_with_m.capitalization=pascal_case

dotnet_naming_style.begins_with_s.required_prefix=s
dotnet_naming_style.begins_with_s.required_suffix=
dotnet_naming_style.begins_with_s.word_separator=
dotnet_naming_style.begins_with_s.capitalization=pascal_case

# Microsoft .NET properties
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=pascal_case
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.severity=warning
dotnet_naming_rule.event_rule.style=pascal_case
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.interfaces_rule.severity=warning
dotnet_naming_rule.interfaces_rule.style=begins_with_i
dotnet_naming_rule.interfaces_rule.symbols=interfaces_symbols
dotnet_naming_rule.local_functions_rule.severity=warning
dotnet_naming_rule.local_functions_rule.style=lower_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols=local_functions_symbols
dotnet_naming_rule.method_rule.severity=warning
dotnet_naming_rule.method_rule.style=pascal_case
dotnet_naming_rule.method_rule.symbols=method_symbols
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=pascal_case
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=begins_with_m
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=begins_with_s
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=begins_with_s
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.property_rule.severity=warning
dotnet_naming_rule.property_rule.style=pascal_case
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=pascal_case
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=pascal_case
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.severity=warning
dotnet_naming_rule.types_and_namespaces_rule.style=pascal_case
dotnet_naming_rule.types_and_namespaces_rule.symbols=types_and_namespaces_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.interfaces_symbols.applicable_kinds=interface
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_functions_symbols.applicable_kinds=local_function
dotnet_naming_symbols.method_symbols.applicable_accessibilities=*
dotnet_naming_symbols.method_symbols.applicable_kinds=method
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds=namespace,class,struct,enum,delegate

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multiline_for_stmt=true
resharper_apply_auto_detected_rules=false
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_after_using_list=2
resharper_blank_lines_around_block_case_section=1
resharper_blank_lines_around_multiline_case_section=1
resharper_blank_lines_around_single_line_type=0
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_case=1
resharper_blank_lines_before_control_transfer_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_blank_lines_before_single_line_comment=1
resharper_braces_for_dowhile=required
resharper_braces_for_fixed=required
resharper_braces_for_for=required_for_multiline
resharper_braces_for_foreach=required_for_multiline
resharper_braces_for_ifelse=required_for_multiline
resharper_braces_for_lock=required
resharper_braces_for_using=required
resharper_braces_for_while=required
resharper_braces_redundant=true
resharper_csharp_alignment_tab_fill_style=optimal_fill
resharper_csharp_align_multiline_argument=false
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_field=0
resharper_csharp_insert_final_newline=true
resharper_csharp_int_align_fix_in_adjacent=false
resharper_csharp_keep_blank_lines_in_code=3
resharper_csharp_naming_rule.constants=AaBb
resharper_csharp_naming_rule.event=AaBb
resharper_csharp_naming_rule.interfaces=I + AaBb
resharper_csharp_naming_rule.method=AaBb
resharper_csharp_naming_rule.private_constants=AaBb
resharper_csharp_naming_rule.private_instance_fields=m + AaBb
resharper_csharp_naming_rule.private_static_fields=s + AaBb
resharper_csharp_naming_rule.private_static_readonly=s + AaBb
resharper_csharp_naming_rule.property=AaBb
resharper_csharp_naming_rule.public_fields=AaBb
resharper_csharp_naming_rule.static_readonly=AaBb
resharper_csharp_naming_rule.types_and_namespaces=AaBb, AaBb_AaBb
resharper_csharp_new_line_before_while=true
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_css_indent_size=2
resharper_css_insert_final_newline=true
resharper_css_keep_user_linebreaks=false
resharper_css_tab_width=2
resharper_css_use_indent_from_vs=false
resharper_force_attribute_style=join
resharper_for_simple_types=use_var
resharper_instance_members_qualify_declared_in=base_class
resharper_int_align_assignments=true
resharper_int_align_comments=true
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
resharper_keep_blank_lines_between_declarations=2
resharper_keep_existing_arrangement=false
resharper_keep_existing_declaration_block_arrangement=false
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_embedded_block_arrangement=false
resharper_keep_existing_enum_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_keep_existing_property_patterns_arrangement=true
resharper_keep_existing_switch_expression_arrangement=false
resharper_linebreaks_around_razor_statements=false
resharper_max_enum_members_on_line=1
resharper_nested_ternary_style=compact
resharper_outdent_binary_ops=true
resharper_outdent_commas=true
resharper_outdent_dots=true
resharper_place_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_linq_into_on_new_line=false
resharper_place_simple_embedded_statement_on_same_line=false
resharper_place_simple_switch_expression_on_single_line=true
resharper_place_type_constraints_on_same_line=false
resharper_properties_style=separate_lines
resharper_razor_always_use_end_of_line_brace_style=true
resharper_show_autodetect_configure_formatting_tip=false
resharper_space_after_property_semicolon=false
resharper_space_between_attribute_sections=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_trailing_comma_in_multiline_lists=true
resharper_use_heuristics_for_body_style=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_declaration_rpar=true
resharper_wrap_before_invocation_rpar=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_xmldoc_attribute_indent=align_by_first_attribute
resharper_xmldoc_indent_child_elements=ZeroIndent
resharper_xmldoc_keep_user_linebreaks=false
resharper_xmldoc_linebreaks_inside_tags_for_elements_longer_than=10
resharper_xmldoc_linebreak_before_multiline_elements=false
resharper_xmldoc_max_blank_lines_between_tags=1
resharper_xmldoc_space_before_self_closing=false
resharper_xmldoc_wrap_around_elements=false
resharper_xml_blank_line_after_pi=false
resharper_xml_insert_final_newline=true

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting=suggestion
resharper_arrange_attributes_highlighting=hint
resharper_arrange_constructor_or_destructor_body_highlighting=warning
resharper_arrange_default_value_when_type_evident_highlighting=hint
resharper_arrange_local_function_body_highlighting=warning
resharper_arrange_method_or_operator_body_highlighting=warning
resharper_arrange_missing_parentheses_highlighting=hint
resharper_arrange_object_creation_when_type_evident_highlighting=hint
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=warning
resharper_arrange_type_modifiers_highlighting=warning
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_convert_closure_to_method_group_highlighting=none
resharper_convert_if_statement_to_return_statement_highlighting=none
resharper_convert_to_auto_property_highlighting=none
resharper_convert_to_auto_property_when_possible_highlighting=none
resharper_enforce_do_while_statement_braces_highlighting=warning
resharper_enforce_fixed_statement_braces_highlighting=warning
resharper_enforce_foreach_statement_braces_highlighting=warning
resharper_enforce_for_statement_braces_highlighting=warning
resharper_enforce_if_statement_braces_highlighting=warning
resharper_enforce_lock_statement_braces_highlighting=warning
resharper_enforce_using_statement_braces_highlighting=warning
resharper_enforce_while_statement_braces_highlighting=warning
resharper_for_can_be_converted_to_foreach_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_redundant_readonly_modifier_highlighting=none
resharper_remove_redundant_braces_highlighting=hint
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint


# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size=2

[*.{csproj,vbproj,proj,nativeproj,locproj}]
charset=utf-8


# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size=2


# Xml config files
[*.{props,targets,config,nuspec}]
indent_size=2


# YAML config files
[*.{yml,yaml}]
indent_size=2

[*.{cmd, bat}]
end_of_line=crlf

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,proto,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{json,resjson}]
indent_style=space
indent_size=2
tab_width=2

[*.{asax,ascx,aspx,axaml,cs,cshtml,htm,html,js,jsx,master,paml,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{css,json,resjson}]
indent_style=space
indent_size=2
tab_width=2
