################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.cr
/bin
obj
/_NCrunch_InlayTester.Drivers.FeigReader/
