<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<targets>

		<!-- target that writes to /logs -->
		<target xsi:type="AsyncWrapper"
		        name="FileAsync"
		        queueLimit="10000"
		        timeToSleepBetweenBatches="100"
		        batchSize="250"
		        overflowAction="Block">

			<target xsi:type="File"
			        name="File"
			        layout="${longdate}|${logger}|${level:padding=5:uppercase=true}|${machinename}:${processid}|${threadid:padding=2}|   ${message}"
			        encoding="utf-8"
			        lineEnding="Default"
			        maxArchiveFiles="120"
			        archiveFileName="Debug.InlayTester.Drivers.FeigReader.{#}.log"
			        archiveNumbering="DateAndSequence"
			        archiveDateFormat="yyyyMMdd"
			        archiveEvery="Hour"
			        archiveOldFileOnStartup="true"
			        fileName="Debug.InlayTester.Drivers.FeigReader.log"
			        enableFileDelete="true"
			        createDirs="true"
			        concurrentWrites="false"
			        openFileCacheTimeout="30"
			        openFileCacheSize="3"
			        cleanupFileName="false"
			        keepFileOpen="true">
			</target>
		</target>

		<!-- target used for real-time viewing via Log4View -->
		<target xsi:type="AsyncWrapper"
		        name="RealtimeAsync"
		        queueLimit="10000"
		        timeToSleepBetweenBatches="100"
		        batchSize="250"
		        overflowAction="Block">

			<target xsi:type="NLogViewer"
			        name="Realtime"
			        layout="${log4jxmlevent}"
			        onOverflow="Split"
			        encoding="utf-8"
			        address="tcp4://localhost:7112"
			        keepConnection="true">
			</target>
		</target>

	</targets>

	<rules>
		<logger name="*" enabled="true" minlevel="Trace" writeTo="FileAsync" />
		<logger name="*" enabled="false" minlevel="Trace" writeTo="RealtimeAsync" />
	</rules>

</nlog>
